@function weight($weight) {
    @return map-get($font-weights, $weight);
}

@function break($break) {
    @return map-get($breaks, $break);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterDir($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
   @if $light-theme {
        background-color: lighten($primary-color, 100%);
        color: darken($primary-color, 100%);
   }
}

@mixin media($size) {
    $pixelSize: break($size);
    @media (max-width: $pixelSize) {
        @content;
    }
}